.title {
  color: crimson;
}

.table,
.th,
.td {
  border: 1px solid black;
}

.table {
  border-collapse: collapse;
}

.th {
  text-align: left;
}

.td,
.th {
  padding: 10px;
}

.tr:nth-child(even) {
  background-color: #e2e2e2;
}

.memberStatus {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.joined {
  background-color: #25a2b7;
}

.notJoined {
  background-color: #6d757d;
}
