.title {
  color: crimson;
}

.table,
.th,
.td {
  border: 1px solid black;
}

.table {
  border-collapse: collapse;
}

.td,
.th {
  padding: 10px;
}

.tr:nth-child(even) {
  background-color: #e2e2e2;
}
