.logo-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 1.8em;
}

.navbar {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
